* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.nav {
    grid-area: n;
    background-color: rgb(152, 222, 135);
    padding: 20px;
}

.item {
    /*margin: 10px;*/
    font-size: 1.3rem;
    color: black;
}

.activeLink {
    color: gold;
}


/*.item a:hover {*/
/*    color: rebeccapurple;*/
/*}*/



